<% layout('../layout-main') -%>
<% 
	var imageStateClass = 'hidden', 
		choiceStateClass = 'hidden', 
		textStateClass = '';
		
	if(question.type == 'image') {
		imageStateClass = '';
		textStateClass = 'hidden';
	} else if(question.type == 'multiple') {
		choiceStateClass = '';
	}
%>
<h1>Edit question</h1>
<form action="/admin/quiz/edit/<%= quiz.id %>/round/edit/<%= round.id %>/question/edit/<%= question.id %>" method="post" enctype="multipart/form-data">
	<dl>
		<dt>
			<label>Type:</label>
		</dt>
		<dd>
			<ul class="option-list">
				<li>
					<% if(question.type == 'text') { %>
						<input type="radio" checked="checked" name="type" value="text" id="text" /> 
					<% } else { %>
						<input type="radio" name="type" value="text" id="text" /> 					
					<% } %>
					<label for="text">Text</label>
				</li>
				<li>
					<% if(question.type == 'multiple') { %>
						<input type="radio" checked="checked" name="type" value="multiple" id="multiple" /> 
					<% } else { %>
						<input type="radio" name="type" value="multiple" id="multiple" /> 					
					<% } %>	
					<label for="multiple">Multiple choice</label>			
				</li>
				<li>
					<% if(question.type == 'image') { %>
						<input type="radio" checked="checked" name="type" value="image" id="image" /> 
					<% } else { %>
						<input type="radio" name="type" value="image" id="image" /> 					
					<% } %>	
					<label for="image">Image</label>			
				</li>
			</ul>
		</dd>
		<dt class="question <%= textStateClass %>">
			<label>Question:</label>
		</dt>
		<dd>
			<input type="text" name="question" value="<%= question.questionText %>" />
		</dd>
		<dt class="multiple-choices <%= choiceStateClass %>">
			<label>Answer choices:</label>
		</dt>
		<dd>
			<input type="text" name="option" value="" /> 
			<button class="add">Add</button>
			<% if(question.answerOptions.length > 0) { %>
				<ul class="list">
					<% for(var i=0; i< question.answerOptions.length; i++) {
						var option = question.answerOptions[i];
						if(option != '') {
					%>
						<li>
							<span class="heading"><%= option %></span>						
							<div class="actions">
								<button class="cta delete">Delete</button>
							</div>
						</li>
					<% }
					} %>
				</ul>
			<% } %>
			<input type="hidden" name="options_added" />
			<input type="hidden" name="options_removed" />
		</dd>
		<dt class="image <%= imageStateClass %>">
			<label>Image:</label>
		</dt>
		<dd>
			<% if(question.image) { %>
				<img src="<%= question.image %>" />
			<% } %>
			<div class="upload">
				<input type="file" name="image" />
			</div>
		</dd>
		<dt>
			<label>Answer:</label>
		</dt>
		<dd>
			<input type="text" name="answer" value="<%= question.answer %>" required="required" />
		</dd>
		<dt class="answer-image  <%= imageStateClass %>">
			<label>Supporting answer image:</label>
		</dt>
		<dd>
			<% if(question.answerSupportingImage) { %>
				<img src="<%= question.answerSupportingImage %>" />
			<% } %>
			<div class="upload">
				<input type="file" name="answerSupportingImage" />
			</div>
		</dd>
		<dt>
			<label>Time allowance (in seconds):</label>
		</dt>
		<dd>
			<input type="text" name="timeInSeconds" value="<%= question.timeInSeconds %>" required="required" />
		</dd>
		<dt>
			<label>Points:</label>
		</dt>
		<dd>
			<input type="text" name="points" value="<%= question.points %>" required="required" />
		</dd>
		<dt>
			<label>Display Order:</label>
		</dt>
		<dd>
			<input type="text" name="displayOrder" value="<%= question.displayOrder %>" />
		</dd>
	</dl>
	<input type="submit" value="Save question" />
</form>
<script src="/js/quiz-edit.js"></script>