<% layout('../layout-main') -%>
<h1>Edit quiz</h1>
<% if (successMessage != '') { %>
	<p class="msg-success"><%= successMessage %></p>
<% } %>
<form action="/admin/quiz/edit/<%= quiz.id %>" method="post">
	<dl>
		<dt>
			<label>Title:</label>
		</dt>
		<dd>
			<input type="text" name="title" value="<%= quiz.title %>" />
		</dd>
	</dl>
	<input type="submit" value="Save quiz" />
	<input type="hidden" name="id" id="quiz-id" value="<%= quiz.id %>" />
</form>
<h2>Rounds</h2>
<button id="add-round" class="cta add">Add round</button>
<%- include ../partials/rounds.ejs %>
<script src="/js/quiz-edit.js"></script>