<% layout('../layout-main') -%>
<h1>Edit round</h1>
<form action="/admin/quiz/edit/<%= quiz.id %>/round/edit/<%= round.id %>" method="post" enctype="multipart/form-data">
	<dl>
		<dt>
			<label>Title:</label>
		</dt>
		<dd>
			<input type="text" name="title" value="<%= round.title %>" />
		</dd>
		<dt>
			<label>Icon:</label>
		</dt>
		<dd>
			<ul class="option-list icons">
				<li>
					<input type="radio" name="icon" value="clock" id="clock" <% if(round.icon == 'clock'){ %> checked="checked" <% } %> />
					<label for="clock" class="ico-clock">ico-clock</label>
				</li>
				<li>
					<input type="radio" name="icon" value="flag" id="flag" <% if(round.icon == 'flag'){ %> checked="checked" <% } %> />
					<label for="flag" class="ico-flag">ico-flag</label>
				</li>
				<li>
					<input type="radio" name="icon" value="graduation-hat" id="graduation-hat" <% if(round.icon == 'graduation-hat'){ %> checked="checked" <% } %> />
					<label for="graduation-hat" class="ico-graduation-hat">ico-graduation-hat</label>
				</li>
				<li>
					<input type="radio" name="icon" value="graduation-hat-multiple" id="graduation-hat-multiple" <% if(round.icon == 'graduation-hat-multiple'){ %> checked="checked" <% } %> />
					<label for="graduation-hat-multiple" class="ico-graduation-hat-multiple">ico-graduation-hat-multiple</label>
				</li>
				<li>
					<input type="radio" name="icon" value="media" id="media" <% if(round.icon == 'media'){ %> checked="checked" <% } %> />
					<label for="media" class="ico-media">ico-media</label>
				</li>
				<li>
					<input type="radio" name="icon" value="note" id="note" <% if(round.icon == 'note'){ %> checked="checked" <% } %> />
					<label for="note" class="ico-note">ico-note</label>
				</li>
				<li>
					<input type="radio" name="icon" value="person" id="person" <% if(round.icon == 'person'){ %> checked="checked" <% } %> />
					<label for="media" class="ico-person">ico-person</label>
				</li>
			</ul>
		</dd>
		<dt>
			<label>Display Order:</label>
		</dt>
		<dd>
			<input type="text" name="display_order" value="<%= round.displayOrder %>" />
		</dd>
	</dl>
	<input type="submit" value="Save round" />
</form>
<h2>Questions</h2>
<a class="cta add" href="/admin/quiz/<%= quiz.id %>/round/edit/<%= round.id %>/question/add">Add question</a>
<% if (successMessage != '') { %>
	<p class="msg-success"><%= successMessage %></p>
<% } %>
<% if(typeof round.questions !== 'undefined') { %>
	<% if(round.questions.length > 0) { %>
		<ul class="list rounds">
			<% for(var i=0; i < round.questions.length; i++) {
				var question = round.questions[i]; %>
					<li>
						<span class="heading"><%= question.questionText %></span>
						<input type="hidden" name="display-order" value="<%= question.displayOrder %>" />
						<div class="actions">
							<a href="/admin/quiz/edit/<%= quiz.id %>/round/edit/<%= round.id %>/question/edit/<%= question.id %>" class="cta">Edit</a>
							<a href="/admin/quiz/edit/<%= quiz.id %>/round/edit/<%= round.id %>/question/delete/<%= question.id %>" class="cta delete">Delete</a>
						</div>
					</li>
			<% } %>
		</ul>
	<% } else { %>
		<p class="no-results">Sorry, no questions were found.</p>
	<% } %>
<% } %>