<% if(typeof withAnswer == 'undefined') { var withAnswer = false; } %>
<% if(typeof withInput == 'undefined') { var withInput = false; } %>
<% var questionNumber = question.displayOrder+1 %>
<h1>Question <%= questionNumber %></h1>
<dl class="question">
	<dt>
		<%if(question.type == "image") { %>
			<img src="<%= question.image %>" alt="Image" />
		<% } else { %>
			<%= question.questionText.replace(/\r?\n/g, '<br />') %>
		<% } %>
	</dt>
	<% if(withAnswer) { %>
		<dd class="answer">
			<%= question.answer %>
			<%if(question.type == "image" && question.answerImage) { %>
				<br /><img src="<%= question.answerImage %>" alt="Image" />
			<% } %>	
		</dd>	
	<% } %>
	<% if(withInput) { %>
		<dd class="form">
			<form id="question-answer">
				<% if(question.type == "multiple") { %>
					<% if(question.answerOptions.length > 0) { %>
						<ul class="option-list">
							<% for(var i=0; i< question.answerOptions.length; i++) {
								var option = question.answerOptions[i];
								if(option != '') {
							%>
								<li>
									<input type="radio" name="options" value="<%= option %>" id="<%= i %>" />
									<label for="<%= i %>"><%= option %></label>
								</li>
							<% }
							} %>
						</ul>
					<% } %>
				<% } else { %>
					<input type="text" placeholder"Your answer" required spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" />
				<% } %>
				<input type="submit" value="Submit" />
			</form>
		</dd>
	<% } %>
</dl>
<% if(withAnswer) { %>	
	<p id="timer"><span><%= question.timeInSeconds %></span> seconds remaining<p>
<% } %>