<% if(typeof withoutRoundWrapper == 'undefined') { var withoutRoundWrapper = false; } %>
<% if(typeof withoutQuestionsWrapper == 'undefined') { var withoutQuestionsWrapper = false; } %>
<% if(typeof quiz.rounds !== 'undefined') { %>
	<% if(quiz.rounds.length > 0) { %>
		<% if(!withoutRoundWrapper) { %>
			<ul class="list rounds">
		<% } %>
		<% for(var i=0; i < quiz.rounds.length; i++) {
			var round = quiz.rounds[i]; %>
				<li>
					<form action="/admin/round/edit">
						<dl>
							<dt>
								<label>Title:</label>
							</dt>
							<dd>
								<input type="text" name="title" value="<%= round.title %>" />
							</dd>
						</dl>
						<input type="hidden" name="id" value="<%= round._id %>" />
						<input type="submit" value="Save round" />
						<button class="cta delete">Delete</button>	
					</form>
					<h3>Questions</h3>
					<button class="cta add question">Add question</button>
					<% if(round.questions.length > 0) { %>
						<% if(!withoutQuestionsWrapper) { %>
							<ul class="list questions">
						<% } %>
						<% for(var j=0; j < round.questions.length; j++) {
							var question = round.questions[j]; %>
								<li>
									<form action="/admin/round/edit">
										<dl>
											<dt>
												<label>Type:</label>
											</dt>
											<dd>
												<label>
													<% if(question.type == 'text' || question.text == undefined) { %>
														<input type="radio" name="type" value="text" checked="checked" /> 
													<% } else { %>
														<input type="radio" name="type" value="text" /> 				
													<% } %>
													Text
												</label>
												<label>
													<% if(question.type == 'image') { %>
														<input type="radio" name="type" value="image" checked="checked" /> 
													<% } else { %>
														<input type="radio" name="type" value="image" /> 				
													<% } %>
													Image
												</label>
											</dd>
											<dt>
												<label>Question:</label>
											</dt>
											<dd>
												<input type="text" name="question" value="<%= question.questionText %>" />
											</dd>
											<dt>
												<label>Answer:</label>
											</dt>
											<dd>
												<input type="text" name="answer" value="<%= question.answer %>" />
											</dd>
										</dl>
										<input type="hidden" name="question_id" value="<%= question._id %>" />
										<input type="submit" value="Save question" />
										<button class="cta delete">Delete</button>
									</form>	
								</li>
						<% } %>
						<% if(!withoutQuestionsWrapper) { %>
							</ul>
						<% } %>
					<% } else { %>
						<p class="no-results">Sorry, no questions were found.</p>
					<% } %>
				</li>
		<% } %>
		<% if(!withoutRoundWrapper) { %>
			</ul>
		<% } %>
	<% } else { %>
		<p class="no-results">Sorry, no rounds were found.</p>
	<% } %>
<% } %>