<% layout('layout') -%>
<header role="banner">
	<div class="container">
	<h1>Buzzer</h1>
		<% if (user) { %>
			<button class="toggle">Menu</button>
			<nav role="navigation">
				<% if (user.admin) { %>
					<p>Logged in as: <em><%= user.username %></em></p>
				<% } else { %>
					<p>Playing as: <em><%= user.username %></em></p>
				<% } %>
				<ul>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</nav>
		<% } %>
	</div>
</header>
<main role="main" class="container">
	<%- body %>
	<div id="footer-placeholder"></div>
</main>
<footer role="contentinfo">
	<% if (user) { %>
		<% if (user.admin) { %>
			<p class="user">Logged in as: <em><%= user.username %></em></p>
		<% } else { %>
			<p class="user">Playing as: <em><%= user.username %></em></p>
		<% } %>
		<a href="/logout" class="action">Log out</a>
	<% } %>
	<p class="credit">Powered by <a href="https://github.com/benmacgowan/buzzer">Buzzer</a><span class="extra-credit">, a creation by <a href="http://www.benmacgowan.co.uk">Ben MacGowan</a></span></p>
</footer>